/* * {
    padding: 0;
    margin: 0;
}

.navbar {
    margin: 20px 0 0 0;
    position: absolute;
}

.search input {

    width: 500px;
    height: 41px;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
    background: rgba(210, 210, 210, .25);

}

.item {
    display: flex;
}

.item .camera {
    margin-left: 120px;
}

.item .addVideo {
    margin: 4px 0 0 15px;
}

.item .logoChannel {
    margin-left: -60px;
} */

.form-control {
    width: 450px;
    height: 41px;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
    background: rgba(210, 210, 210, 0.25);
}

.nav-right {
    padding-left: 42px;
    display: flex;
}

.profile {
    transform: translate(40px, -15px);
}

.logo-profile {
    cursor: pointer;
    content: none;
    background: none;
    border: none;
}

.logo-profile:hover {
    background: none;
    border: none;
}

.logo-profile.show {
    background: none;
    border: none;
}



.show>.btn-primary.dropdown-toggle {
    background: none;
    border: none;
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    background: none;
    border: none;
}

.btn-primary:focus {
    box-shadow: none;
    background: none;
    border: none;
}

.btn-primary:hover {
    box-shadow: none;
    background: none;
    border: none;
}

.dropdown-menu {
    background: #151515;
    border-radius: 4px;
}

.dropdown-item:hover {
    background: none;
}