.card-login {
    padding: 2em;
    position: absolute;
    width: 416px;
    height: 311px;
    left: 35px;
    top: 143px;

    background: #161616;
    border-radius: 10px;
}

.signIn .login {
    margin-bottom: 1.5em;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid rgba(188, 188, 188, 1);
    border-radius: 5px;
    width: 100%;
}

.signIn h2 {
    color: #fff;
    margin-bottom: .7em;
}

.btn1 {
    display: relative;
    width: 100%;
    margin-bottom: 10px;
}

/* Brand file */

.imgLogin {
    position: absolute;
    left: 69px;
    top: 127px;
}

.buttonLogin {
    width: 120px;
    margin-top: 1.5em;
}